.queryuser{
    .button{
        display: flex;
        justify-content: flex-end;
        .btn-register{
            display: flex;
            justify-content: center;
            margin-bottom: 50px;
            color: rgb(255, 255, 255);
            font-size: 30px;
            font-weight: bold;
            background: #B58900;
            width: 300px;
            border-radius: 10px;
        }
    }
    &__content{
        padding: 1% 5%;
        .ant-card{
            border-radius: 20px;
            &-head {
                background: #B58900;
                border-radius: 10px 10px 0px 0px;
                &-title{
                    color: #ffffff;
                    font-size: 25px;
                }
            }
            &-body{
                padding: 0%;
            }
            .ant-table-header-column{
                color: #303a3a;
                font-size: 15px;
                font-weight: 600;
            }
            .ant-tag-blue {
                color: #415618;
                background: rgb(251, 235, 186);
                border-color: #B58900;
            }
        }
        
    }
}
