.btn-exel {
    display: flex;
    justify-content: flex-end;
    margin-bottom: 20px;
    margin-right: 50px;

    &--exel{
        border-radius: 5px;
        width: 200px;
        height: 70px;
        font-size: 20px;
        background: #85b585;
        color: #ffffff;
    }
    .img-excel{
        width: 50px;
    }
}
.button{
    display: flex;
    justify-content: flex-end;
    .btn-register{
        display: flex;
        justify-content: center;
        margin-bottom: 50px;
        color: rgb(255, 255, 255);
        font-size: 30px;
        font-weight: bold;
        background: #B58900;
        width: 300px;
        border-radius: 10px;
    }
}

.button{
    display: flex;
    justify-content: flex-end;
    .btn-aut{
        display: flex;
        justify-content: center;
        margin-bottom: 50px;
        color: rgb(255, 255, 255);
        font-size: 30px;
        margin-right: 50px;
        font-weight: bold;
        background: #b53300;
        width: auto;
        padding: 20px;
        border-radius: 10px;
    }
}