.profile{
    padding: 0 5% 5% 5%;
    .content{
        display: flex;
        justify-content: center;
        width: 100%;
        &--profile {
            width: 90%; 
            padding: 20px;
            display: flex;
            justify-content: space-around;
            flex-wrap: wrap;
            .item{
                margin: 1% 5%;
                width: 40%;
                display: grid;
                // justify-items: center;

                .title {
                    font-weight: 700;
                    font-size: 30px;
                }
                .component {
                    font-size: 600;
                    font-size: 20px;
                }
            }
        }
    }
    
}