.home{
    &__img{
        width: 100%;
        img{
            width: 100%;
            background-size: cover;
            object-fit: cover;
        }
    }
    .card{
        height: 100px;
        margin: 10px;
        background: #07df85;
    }
}