.login {
    display: flex;
    justify-content: center;
    padding: 8% 10%;
    background: #fff8e2;
    .login--card {
        background-image: url('../../assets/image/fondo1.jpg');
        background-color: #ffffff;
        background-repeat: no-repeat;
        background-size: cover;
        width: 100%;
        border-radius: 20px;
        img{
            object-fit: cover;
            width: 100%;
            height: 100%;
            border-radius: 10px 0px 0 10px;        
        }
        .form {
            width: 100%;
            padding: 20px;
            display: flex;
            .lado{
                width: 50%;
                padding: 20px;
                display: grid;
                justify-items: center;
            }
            
        }
    }
    .title{
        font-size: 50px;
        font-weight: 600;
        display: flex;
        justify-content: center;
        color: #B58900;
        margin-top: 20px;
    }
    .ant-form-item label {
        position: relative;
        color: #B58900;
    }
    .btn-content{
        width: 100%;
        justify-content: center;
        display: flex;
        button{
            background-color: #B58900;
            color: #ffffff;
            font-weight: bold;
            font-size: 15px;
            border-radius: 0;
        }
    }
    .registrarse{
        color: #B58900;
        font-size: 15px;
        font-weight: 600;
    }
    .ant-input{
        border-radius: 0;
        border-color: transparent;
        border-bottom: 2px solid #B58900;
        width: 250px;
    }
}