@import "../../scenes/Home.scss";

@import "../../scenes/Users/Users.scss",
        "../../scenes/Users/QueryUser/QueryUser.scss",
        "../../scenes/Users/Profile/Profile.scss",
        "../../scenes/Users/DeleteUpdateUser/DeleteUpdateUser.scss",
        "../../scenes/Users/RegisterUser/RegisterUser.scss";

@import "../../scenes/Coberturas/Coberturas.scss";

@import "../../scenes/CadenasProductivas/CadenasProductivas.scss",
        "../../scenes/CadenasProductivas/tipo/TipoCadena.scss";

@import "../../scenes/Organizaciones/Organizaciones.scss",
        "../../scenes/Organizaciones/components/RegisterOrg/RegisterOrg.scss";

@import "../../scenes/Infraestructura/Infraestructura.scss",
        "../../scenes/Infraestructura/Tipo/Tipo.scss",
        "../../scenes/Infraestructura/components/RegisterInfra/RegisterInfra.scss";

@import "../../scenes/Indicadores/Indicadores.scss";